body {
    margin: 0 auto;
    padding: 0;
}


#heroImg {
    background-image: url(../images/Map.jpg);
    width: 100%;
    height: 100%;

}

#homeCenterText{
    text-align: left;
}
#homeCenterTable{
    width: 70%; 
    margin-left:auto; 
    margin-right: auto;
}
#homeTable{
    width: 75%;
    margin-left: auto;
    margin-right:auto;
}
#bookBtnDiv{
    margin:0 auto;
    text-align:center;
}

#bookBtn{
    padding: 10px 5px;
    text-decoration: none;
    background-color: #F29728;
    color:#ffffff;
}
#skejoolerLogoDiv{
    text-align: center;
    width: 80px;

}
#skejoolerLogo{
    padding: 10px 5px;
    text-decoration: none;
    background-color: #F29728;
    color:#ffffff;
    margin: 0 auto;
}
#getStartedText{
    color: white;
}

h1{
    text-align: center;
    color: white;
}
h2{
    text-align: center;
}