<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="invigSkejoolerConnectionString" connectionString="server=localhost;user id=root;database=skejooler"
      providerName="MySql.Data.MySqlClient" />
    <add name="skejoolerConnectionString" connectionString="server=localhost;user id=root;password=Ieng1hem;persistsecurityinfo=True;database=skejooler"
      providerName="MySql.Data.MySqlClient" />
    <add name="skejoolerConnect" connectionString="server=localhost;user id=root;password=root;database=skejooler"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>